.header__heading-logo {
  max-height: 52px;
  object-fit: contain;
}
.header__menu-item {
  font-size: 1.5rem;
}


/* Product Card */
.product-card-wrapper .card__media .media img {
  object-fit: contain;
}

/* HOME Banner SexToys */
section[id*="image_banner_ckgEEx"] {
  .banner {
    flex-direction: column;
  }
  .banner::before, .banner::after {
    display: none !important;
  }
  .banner__media {
    position: initial;
  }
  .banner__media::before {
    display: none;
  }
  .media > *:not(.zoom):not(.deferred-media__poster-button), .media model-viewer {
    position: initial;
    height: auto;
    width: auto;
    margin: 0 auto;
  }
}

/* Dual banners con botones */
section[id*="multicolumn_DDfaMc"] {
  .grid {
    column-gap: 0;
  }
  .multicolumn-card {
    position: relative;
  }
  .multicolumn-card__image-wrapper {
    margin: 0;
  }
  .multicolumn-card__info {
    position: absolute;
    bottom: 0; left: 0; right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .multicolumn-card__info .link {
    background: black;
    color: #EEE;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
    min-height: 48px;
    padding: 0px 20px;
  }
  .multicolumn-list__item:nth-child(2) .multicolumn-card__info .link {
    background: #D73341;
  }
}

/* Instagram */
section[id*="multicolumn_xVd4pc"]{
  .multicolumn-card__image-wrapper {
    margin: 0;
  }
}

@media screen and (min-width: 750px) {
  .header__heading-logo {
    max-height: unset;
  }
  .page-width,
  .multicolumn__title,
  .collection__title.title-wrapper--self-padded-tablet-down,
  .multicolumn-list:not(.slider)
   {
    padding-left: 30px;
    padding-right: 30px;
  }
  /* Footer */
  .footer__blocks-wrapper.grid .grid__item:last-child {
    text-align: center;
    width: 100%;
  }
}

@media screen and (min-width: 990px) {
  .header:not(.drawer-menu).page-width {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 1200px)
{
  .scrolled-past-header.shopify-section-header-sticky {
    .header.page-width {
      max-width: initial;
    }
    .header--top-left {
      grid-template-areas: 'heading navigation icons';
      grid-template-columns: auto auto 1fr;
      column-gap: 2rem;
    }
  }

  .page-width,
  .multicolumn__title,
  .collection__title.title-wrapper--self-padded-tablet-down,
  .multicolumn-list:not(.slider)
   {
    padding-left: 0px;
    padding-right: 0px;
  }
  .collection slider-component, .collection .slider-component-desktop {
    max-width: var(--page-width);
    margin: 0 auto;
  }
  .slider--desktop.grid--4-col-desktop .grid__item {
    width: calc(100% / 4 - var(--grid-desktop-horizontal-spacing) * 3);
  }
  .slider--desktop .slider__slide:first-child {
    margin-left: 0;
    scroll-margin-left: 0;
  }
}